name: Tests

on: [ push, pull_request ]

jobs:
  ut:
    runs-on: ubuntu-latest

    services:
      consul:
        image: consul:latest
        ports:
          - '8500:8500'
      polaris:
        image: polarismesh/polaris-server-standalone:v1.10.0
        ports:
          - 8091:8091
      zookeeper:
        image: 'zookeeper:3.7.0'
        ports:
          - '2181:2181'
      servicecomb:
        image: 'servicecomb/service-center:latest'
        ports:
          - '30100:30100'
      etcd:
        image: bitnami/etcd:latest
        ports:
          - "2379:2379"
          - "2380:2380"
        env:
          ALLOW_NONE_AUTHENTICATION: yes
          ETCD_ADVERTISE_CLIENT_URLS: http://etcd:2379
      nacos:
        image: 'nacos/nacos-server:2.0.3'
        ports:
          - '8848:8848'
        env:
          MODE: standalone
      eureka:
        image: 'xdockerh/eureka-server:latest'
        ports:
          - "8761:8761"
      redis:
        image: redis:latest
        ports:
          - '6379:6379'

    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Unit Test
        run: make test
